.input-group__container {
  display: flex;
  flex-direction: column;
  .input-group__input {
    background-color: $white;
    border: 2px solid #00ffff;
    border-radius: 0.25rem;
    font-size: $font-size-sm;
    padding: 0.25rem;
    &.error {
      outline: 2px solid $blood;
    }
  }
  &.input-group__checkbox {
    flex-direction: row-reverse;
    justify-content: start;
    .input-group__input {
      width: fit-content;
    }
  }
  .input-group__text-error {
    font-size: $font-size-md;
    color: $blood;
  }
}

.input-group__input.error {
  border-color: red; // Cambia el color del borde para indicar error
}

.input-group__text-error {
  color: red; // Cambia el color del texto del error
}
