footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(225px, 1fr));
  background: linear-gradient(to top, #8a0303 0%, #333333 100%);
  color: #fff;
  text-align: center;
  margin-top: auto;

  width: 100%;
  bottom: 0;

  div a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin: 0 0.5rem;
  }

  .phone {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  div {
    padding-top: 4px;
    padding-bottom: 8px;
  }
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
}
